/Prez_2022-07-21_meta.parquet
/Prez_2022-07-21_states.parquet
/Prez_2022-07-21_hand-pos.parquet
/Prez_2022-07-21_neural-spikes-binned.parquet
/Prez_2022-07-21_neural-lfads-rates.parquet
/Prez_2022-07-21_neural-smooth-rates.parquet
