/Dwight_2025-01-01_meta.parquet
/Dwight_2025-01-01_states.parquet
/Dwight_2025-01-01_hand-pos.parquet
/Dwight_2025-01-01_neural-spikes-binned.parquet
/Dwight_2025-01-01_neural-lfads-rates.parquet
/Dwight_2025-01-01_neural-smooth-rates.parquet
/Dwight_2025-01-01_targets.parquet
/Dwight_2025-01-01_cst-cursor-pos.parquet
