/Dwight_2025-01-07_meta.parquet
/Dwight_2025-01-07_states.parquet
/Dwight_2025-01-07_hand-pos.parquet
/Dwight_2025-01-07_neural-spikes-binned.parquet
/Dwight_2025-01-07_neural-lfads-rates.parquet
/Dwight_2025-01-07_neural-smooth-rates.parquet
/Dwight_2025-01-07_targets.parquet
